.site-head-logo {
  flex-shrink: 0;
  display: block;
  padding: 10px;
  color: $color-body-font;
  font-size: 2.1rem;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-image: url("img/perky-logo-green.svg");
  background-repeat: no-repeat;
  @include dark-mode {
    background-image: url("img/perky-logo-yellow.svg");
    color: $white;
  }
}

.site-head-logo:hover {
  text-decoration: none;
}

.site-head-logo img {
  display: block;
  margin-top: 2px;
  width: auto;
  height: 28px;
}

.site-head-logo {
  padding-left: 48px;
  height: 40px;
}
