/* Variables
/* ---------------------------------------------------------- */

:root {
  color-scheme: light dark;
}

/* Fonts */
$font-sans-serif: Oxygen, BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-headers: Inter, BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-body-text: $font-sans-serif;
$font-serif: 'New York', serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */
$white: #FFFFFF;
$black: #171717;
$grey-dark: #666666;
$grey-base: #A3A3A3;
$grey-semi: #E6E6E6;
$grey-light: #FCFCFC;
$link-color: #0074C7;

$color-primary-lightest: #FEFEB1;
$color-primary-lighter: #FDFD89;
$color-primary-light: #FDFD62;
$color-primary-base: #FCFC3B;
$color-primary-dark: #CACA2F;
$color-primary-darker: #979723;
$color-primary-darkest: #656518;

$color-secondary-lightest: #A8D8D1;
$color-secondary-lighter: #7CC5BB;
$color-secondary-light: #51B1A4;
$color-secondary-base: #259E8D;
$color-secondary-dark: #1E7E71;
$color-secondary-darker: #165F55;
$color-secondary-darkest: #0F3F38;

$color-tertiary-lightest: #CBABDC;
$color-tertiary-lighter: #B182CB;
$color-tertiary-light: #9758B9;
$color-tertiary-base: #7D2EA8;
$color-tertiary-dark: #642586;
$color-tertiary-darker: #4B1C65;
$color-tertiary-darkest: #321243;

$color-body-font: $black;

$color-primary: $color-primary-base;
$color-base: $black;
$color-sub-base: $grey-base;
$color-border: $grey-light;
$color-bg-light-mode: $color-primary-base;
$color-bg-dark-mode: $color-secondary-base;
$color-bg-bright: #1d1d1f;

$color-primary-light: $black;
$color-base-light: $white;
$color-base-light-inverted: #131313;
$color-sub-base-light: #454545;
$color-border-light: #ababab;
$color-bg-light-mode: $color-bg-light-mode;

$color-bg-bright-light: #EDEDED;
$color-bg-dark-mode-light: #131313;
$color-body-font-light: #131313;
$color-body-font-light-2: #000000;
$link-color-light: #0074c1;