/* Variables
/* ---------------------------------------------------------- */

:root {
  color-scheme: light dark;
}

/* Fonts */
$font-sans-serif: Oxygen, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif;
$font-headers: Inter, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif;
$font-body-text: $font-sans-serif;
$font-serif: "New York", serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */
$white: #ffffff;
$black: #171717;
$grey-dark: #666666;
$grey-base: #a3a3a3;
$grey-semi: #e6e6e6;
$grey-light: #fcfcfc;
$link-color: #0074c7;

$color-primary-lightest: #fefeb1;
$color-primary-lighter: #fdfd89;
$color-primary-light: #fdfd62;
$color-primary-base: #fcfc3b;
$color-primary-dark: #caca2f;
$color-primary-darker: #979723;
$color-primary-darkest: #656518;

$color-secondary-lightest: #a8d8d1;
$color-secondary-lighter: #7cc5bb;
$color-secondary-light: #51b1a4;
$color-secondary-base: #259e8d;
$color-secondary-dark: #1e7e71;
$color-secondary-darker: #165f55;
$color-secondary-darkest: #0f3f38;

$color-tertiary-lightest: #cbabdc;
$color-tertiary-lighter: #b182cb;
$color-tertiary-light: #9758b9;
$color-tertiary-base: #7d2ea8;
$color-tertiary-dark: #642586;
$color-tertiary-darker: #4b1c65;
$color-tertiary-darkest: #321243;

$color-body-font: $black;

$color-primary: $color-primary-base;
$color-base: $black;
$color-sub-base: $grey-base;
$color-border: $grey-light;
$color-bg-light-mode: $color-primary-base;
$color-bg-dark-mode: $color-secondary-darkest;
$color-bg-bright: #1d1d1f;

$color-primary-light: $black;
$color-base-light: $white;
$color-base-light-inverted: #131313;
$color-sub-base-light: #454545;
$color-border-light: #ababab;
$color-bg-light-mode: $color-bg-light-mode;

$color-bg-bright-light: #ededed;
$color-bg-dark-mode-light: #131313;
$color-body-font-light: #131313;
$color-body-font-light-2: #000000;
$link-color-light: #0074c1;
